img,
video {
  max-width: 100%;
  height: auto;
} 
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

.booklist {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: 1.5rem;
    row-gap: 2rem; 
  }
  
  .booklist-book {
    background: #fff;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto 1fr auto;
  }

  .product-icon{
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    z-index: 20;
    transition: transform 200ms ease-in;
  }

  .product-icon:hover{
    transform: scale(1.1)
  }

  .product-icon>img{
    width: 16px;
    height: 16px;
  }
  
  .booklist-book .cover-wrapper {
    background: #fafafa;
    border: 1px solid #f0f0f0;
    grid-row: 1;
    position: relative;
    width: 100%;
    padding-bottom: 145%;
  }
  
   .booklist-book .cover-wrapper {
    /* grid-row: span 3 / span 3; */
     border-radius: 4px;
     align-self: stretch; 
   }
  
  
  .booklist-book .cover {
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }
  .booklist-book .cover {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  .product-image {
    /* display: block; */
    display: flex;
    flex: 1;
    border-radius: 4px;
    position: relative;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
  }
  .booklist-book:hover .product-image{
    box-shadow: 0px 11px 18px rgba(0,0,0,0.3);
    transform: scale(1.025)
  }

  .product-image > img {
    background-color: #fff4;
    border-radius: 4px;
    object-fit: contain;
    /* max-width: none; */
  }

  .w-full {
    width: 100%;
  }

  /* img {
    max-width: none;
  }*/
 
  /* img {
    border-style: solid;
  }
  img {
    border-style: none;
  } */
  
  /* .product-image:after {
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.0666667) 4%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 90%,
      rgba(0, 0, 0, 0.0666667) 96%,
      rgba(0, 0, 0, 0.2) 100%
    );
    content: "";
    border-radius: 3px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 20;
  } */
  


.lg\:pt-4 {
    padding-top: 1rem;
}
.leading-tight {
    line-height: 1.25;
}
.font-serif-bold {
    font-family: "GT Super Bold", serif;
}
/* h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
} */
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

h2{
    font-size :16px;
font-weight :400;
line-height: 20px;
}

a {
    color: rgb(44, 41, 59);
    text-decoration: none;
}
a {
    background-color: transparent;
}